/* variables */
:root {
    --dark: #333333;
    --light: #BDBDBD;
}

/* reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* base styles */

body {
    background: #f1f1f1;
    font-family: mainFont;
    color: var(--dark);
}


main {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    padding: 20px 20px;
    padding-bottom: 21.5px;
    overflow: auto;
    min-height: 100vh;


}

header h1 {
    font-family: headerFont;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.08rem;
    line-height: 25px;
}

.hero {
    display: block
}

.lead-img {
    padding: 60px 20px;
}

.lead-img img {
    max-width: 100%;
}

.lead-heading {
    font-size: 3rem;
    font-size: clamp(3rem, 5.5vw, 4rem);
    word-spacing: -50%;
}

.lead-info {
    font-size: 18px;
    margin-bottom: 60px;
}

a.btn {
    display: inline-block;
    color: #f1f1f1;
    text-transform: capitalize;
    font-size: 14px;
    padding: 20px 40px;
    font-weight: 700;
    background-color: var(--dark);
    width: 218px;
    margin-bottom: 20px;
}

.creator-label {
    /* position: absolute;
    bottom: 20px;
    left: 0;
    right: 0; */
    margin-inline: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500px;
    color: var(--light);
    font-family: Montserrat;
}

.creator-label a {
    font-weight: 700;
    color: var(--light);
    font-family: Montserrat;
}

footer {
    position: relative;
    font-family: Montserrat;
    height: 21.5px;
    margin-top: -21.5px;
    clear: both;
}

/* fonts */

@font-face {
    font-family: headerFont;
    src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}


/* tablets devices and above */

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 67.5px);
    }

    .lead {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        max-height: 620px;
        /* height: 100%;
        min-height: 100vh - 21.5px; */
        
    }

    .lead-text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    

}